<form action="/refrigerators/<%= @refrigerator.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH"/>
  <h2>Edit This Refrigerator</h2>
  <p>Edit this refrigerator's name</p>
  <input type='text' name='refrigerator[name]'/><br/>

  <p>Does this refrigerator have a freezer? (enter true or false)</p>
  <input type='text' name='refrigerator[has_freezer]'/><br/>

  <p>Edit this refrigerator's capacity in cubic feet (enter integer only)</p>
  <input type='text' name='refrigerator[capacity_cubic_feet]'/><br/>
  <input type='submit'/>
</form>
