<a href="/foods">Full Foods Index</a><br>
<a href="/refrigerators/new">New Refrigerator</a>

<h1> List of All Refrigerators </h1>

<%@refrigerator_order.each do |refrigerator|%>
  <h2><%= refrigerator.name %>: Created at: <%=refrigerator.created_at%>
  <%=link_to 'Update Refrigerator', "/refrigerators/#{refrigerator.id}/edit"%></h2>
<%end%>
